{:paths ["dev" "notebooks" "resources"]
 :deps {io.github.nextjournal/clerk {:git/sha "1e68685431bc5836cca5835db604afab9f19cdf4"
                                     #_#_:local/root "../clerk"}
        io.github.nextjournal/clerk-slideshow {:git/sha "562f634494a1e1a9149ed78d5d39fd9486cc00ba"}

        ;; keep 1.10 until `kixi/stats` and `sicmutils` fix warnings
        org.clojure/clojure {:mvn/version "1.10.3"}

        ;; input various external data formats
        com.github.seancorfield/next.jdbc {:mvn/version "1.2.659"}
        meta-csv/meta-csv {:mvn/version "0.1.0"}
        org.xerial/sqlite-jdbc {:mvn/version "3.34.0"}
        dk.ative/docjure {:mvn/version "1.16.0"}
        clojusc/wordnet {:mvn/version "1.2.0"}
        clj-jgit/clj-jgit {:mvn/version "1.0.2" :exclusions [org.slf4j/slf4j-api]}

        ;; some statistical routines
        kixi/stats {:mvn/version "0.5.4"}

        ;; SICMUtils numerical and physics routines
        sicmutils/sicmutils {:mvn/version "0.22.0"}

        ;; semantic web goodies and box/arrow graphs
        io.github.jackrusher/mundaneum {:git/sha "d2c934a12388d88ddb3e53fef92ec2eef97d6140"}
        arrowic/arrowic {:mvn/version "0.1.1"}


        ;; OSC server
        com.illposed.osc/javaosc-core      {:mvn/version "0.8" :exclusions [org.slf4j/slf4j-api org.slf4j/slf4j-log4j12]}

        org.babashka/cli {:mvn/version "0.5.40"}

        ;; silence log warnings
        org.slf4j/slf4j-nop {:mvn/version "1.7.36"}}

 :aliases {:nextjournal/clerk {:extra-paths ["datasets"]
                               :exec-fn nextjournal.clerk/build!
                               ;; notebooks to be built, accepts globs patterns
                               :nextjournal.clerk/aliases [:clojure2d]
                               :exec-args {:git/url "https://github.com/nextjournal/clerk-demo"
                                           :paths ["index.md"
                                                   "notebooks/slideshow.md"
                                                   "notebooks/introduction.clj"
                                                   "notebooks/data_science.clj"
                                                   "notebooks/images.clj"
                                                   "notebooks/logo.clj"
                                                   "notebooks/semantic.clj"
                                                   "notebooks/sicmutils.clj"
                                                   "notebooks/rule_30.clj"
                                                   "notebooks/zipper_with_scars.clj"]}
                               :main-opts ["-m" "babashka.cli.exec"]}
           :clojure2d {:extra-deps {clojure2d/clojure2d {:mvn/version "1.4.4"}}}}}
